*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  max-height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}

:root {
  font-family: sans-serif;
  font-size: 10px;

  --padding: 25px;
  --gap: 10px;

  --primary: 11, 87, 208;
  --accent: 0, 128, 128;
  --light: 255, 255, 255;
  --dark: 0, 0, 0;
  --danger: 255, 0, 0;

  --font-xl: 6rem;
  --font-lg: 3rem;
  --font-md: 1.8rem;
  --font-sm: 1.4rem;
  --font-xs: 1.2rem;

  --radius-sm: 4px;
}
body {
  font-size: var(--font-sm);
}
.container {
    width: min(1440px, calc(100vw - 50px));
    margin: 0 auto;
}
.disabled {
    opacity: 0.5;
}
.icon {
  width: 1.8rem;
  height: 1.8rem;
}